.searchbar{
    width: 23%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submitSearch{
    margin-bottom: 10px;
    margin-top: 2.5%;
}

.searchContainer{
    height: 50px;
    background-color:#FDB927;
}
@media(max-width:1100px){
    .searchbar{
        width: 45% !important;
    }
}
@media(max-width:800px){
    .searchbar{
        width: 65% !important;
    }
}
